<html>
    <head>
        <title>To Do List</title>
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>        
        <script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
        <script src="/assets/ToDo_List.js"></script>
        <link href="/assests/style.css" rel ="stylesheet" type = "text/css" />  
    </head>
    <body>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new item..." required/>
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <% for(var i= 0; i < todos.length; i++){ %>
                    <li><%= todos[i].item %></li>
                    <% } %>
            </ul>
        </div>
    </body>
</html>